html, body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
p,i{
    color: white;
    font-style: normal;
}
i{
    cursor: pointer;
}
.container{
    margin: 20px 10px;
    width: 350px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    height: 610px;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 10px;
    flex-shrink: 0;
}
.all-stories{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.11) ;
}
.Username{
    font-size: 14px;
}
.story-image{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 3px solid #f8815d;
}
.single-story{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#closefriends{
    border: 3px solid #24f358;
}
.circle-plus{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 3px;
    border-radius: 100px;
    display: flex;
}
#yourstory{
    border: 3px solid #121212 !important;
}
.plus, .heart{
    font-size: 18px;
}
.account{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.single-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.post-image{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}
.verified{
    font-size: 13px;
    color: #0095F6;
}
.full-post-image{
    width: 100%;
    border-radius: 10px;
}
.post-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-icons-left{
    display: flex;
    align-items: center;
    gap: 18px;
}
.post-icons-left i{
    font-size: 15px;
}
.post-description{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.884);
}
span{
    color: white;
    font-weight: 600;
}
.post-time{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.774);
}
.footer-image{
    width: 25px;
    height: 25px;
    border-radius: 100px;
}
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icons i{
    font-size: 20px;
    padding: 12px 0;
}
footer{
    margin-top: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.11);
    flex-shrink: 0;
}
.main-area{
    flex: 1;
    overflow-y: auto;
     -webkit-overflow-scrolling: touch; /* smooth scroll on mobile */
     scrollbar-width: none;
     
}
.story-wrapper{
    position: relative;
    display: inline-block;
}
.all-posts{
    margin: 20px 0;
}
.post-heart{
    color: #ED4956;
}